body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  letter-spacing: 3%;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-name {
  color: #2e2f42;
}

.logo:hover,
.logo-name:hover {
  color: red;
}

address {
  font-style: normal;
}

.email,
.tel {
  text-decoration: none;
}

.email:hover:focus {
  color: #404bbf;
}

.tel:hover:focus {
  color: #404bbf;
}

.solution-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
  color: #ffffff;
  background-color: #2e2f42;
}

.btn-open-service {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
  color: #ffffff;
  background-color: #4d5ae5;
}

.title_features {
  font-size: 20px;
  letter-spacing: 2%;
}

.descr-features {
  color: #434455;
  font-size: 20px;
  letter-spacing: 2%;
}

.secrtion-title {
  font-weight: 700;
  color: #2e2f42;
  font-size: 36px;
  letter-spacing: 2%;
  text-transform: capitalize;
}
.team-name,
.portfolio {
  font-weight: 400;
  color: #2e2f42;
  font-size: 20px;
  letter-spacing: 2%;
}

.team-position,
.descr-portfolio {
  line-height: 24px;
  letter-spacing: 2%;
  font-size: 16px;
}

.invocation-descr {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 24px;
}
